<div class="row" ng-hide="order._id">
  <div class="col-md-6">
      <h2>Create new order</h2>
  </div>
</div>
<div class="container">
    <p>
      <label>Items</label> 
	  <ul ng-repeat="item in items">
		  <li ng-model="order.itemId">{{ item.name }}</li>
		  <label for="">Quantity: </label>
		  <input type="number" ng-model="order.quantity" placeholder="Qty" ng-change="changeQuantity(item.id, order.quantity)">
	</ul>
    </p>
	<p>
		<label>Total Purchase Amount:</label> 
        <input id="totalAmount" class="form-control" type="text" ng-model="order.totalAmount" required> 
	</p>
	<p>
		<pre>{{ formData }}</pre>
	</p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveOrder(order)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>