<div class="row" ng-hide="contact._id">
  <div class="col-md-12">
      <h4 style="text-align:center">Create New Contact</h4>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <p>
      <label>First Name *</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.firstName" required> 
    </p>
    <p>
      <label>Last Name *</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.lastName" required> 
    </p>
    <p>
      <label>Email *</label> 
      <input id="name" class="form-control" type="email" ng-model="contact.email" required> 
    </p>
    <p>
      <label>Phone *</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.mobile" required> 
    </p>
    <p>
      <label>Date of Birth</label> 
		<input id="name" class="form-control input-group date" type="date" data-provide="datepicker" ng-model="contact.dob"> 
    </p>
    <p> 
      <label>Date of Anniversary</label> 
      <input id="name" class="form-control input-group date" type="date" data-provide="datepicker" ng-model="contact.doa">  
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-success col-xs-6" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-warning col-xs-6" ng-click="back()">Back</button>
    </p>
  </div>
</div>